a,
button {
  cursor: pointer;
}

.header {
  width: 100%;
}
.desktop-header {
  width: 100%;
  background-color: white;
  height: 111px;
  box-shadow: 0px 14px 31px 0px rgba(0, 0, 0, 0.1),
    0px 57px 57px 0px rgba(0, 0, 0, 0.09),
    0px 128px 77px 0px rgba(0, 0, 0, 0.05),
    0px 228px 91px 0px rgba(0, 0, 0, 0.01), 0px 357px 100px 0px rgba(0, 0, 0, 0);
  display: none;
  align-items: center;
  justify-content: space-between;
  @media only screen and (min-width: 1130px) {
    display: flex;
  }
}

.header-logo {
  display: block;
  width: 65px;
  height: 65px;
  @media only screen and (min-width: 1130px) {
    width: 111px;
    height: 111px;
    margin-left: 22px;
  }
}

.header-btn {
  margin-right: 96px;
  width: 189px;
  height: 58px;
  border-radius: 50px;
  background: rgba(240, 133, 180, 0.5);
  color: #fff;
  font-family: "Kosugi Maru";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.75px;
  text-align: center;
}

.header-btn:hover {
  background: #f085b4;
}

.header-nav {
  width: fit-content;
  display: flex;
  gap: 60px;
  align-items: center;
}

.header-link {
  color: #f085b4;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Kosugi Maru";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-link:hover {
  color: #ec89aa;
  font-family: "Kosugi Maru";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  text-decoration-line: underline;
}

.mobile-header {
  width: 100%;
  height: 83px;
  display: none;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #fff 74.48%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 20px 43px 0px rgba(0, 0, 0, 0.1),
    0px 79px 79px 0px rgba(0, 0, 0, 0.09),
    0px 178px 107px 0px rgba(0, 0, 0, 0.05),
    0px 316px 126px 0px rgba(0, 0, 0, 0.01),
    0px 494px 138px 0px rgba(0, 0, 0, 0);

  @media only screen and (max-width: 1129px) {
    display: flex;
  }
}

.header-h {
  color: #f085b4;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Kosugi Maru;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-menu {
  display: block;
  width: 39px;
  height: 26.464px;
  margin-right: 18px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 110px;
  background: #fbd4ee;
  @media only screen and (max-width: 700px) {
    gap: 55px;
  }
}

main > div,
main > p {
  max-width: 1440px;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.button {
  width: 460px;
  height: 114px;
  border-radius: 70px;
  background: rgba(245, 76, 175, 0.7);
  color: #fff;
  text-align: center;
  font-family: Roboto Slab;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  @media only screen and (max-width: 700px) {
    width: 193px;
    height: 48px;
    font-size: 15px;
  }
}

.button:hover {
  background: #f54caf;
}

.img-b {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media only screen and (max-width: 1200px) {
    flex-direction: column;
    gap: 30px;
  }
}

.main-container > img {
  display: block;
  width: 30%;
  align-self: end;
  @media only screen and (max-width: 1200px) {
    align-self: center;
    width: 50%;
  }
}

.w-p {
  padding-top: 60px;
  @media only screen and (max-width: 700px) {
    padding-top: 0px;
  }
}
.w-p-b {
  padding-bottom: 80px;
  @media only screen and (max-width: 700px) {
    padding-bottom: 40px;
  }
}

.main-container-txt {
  max-width: 691px;
  align-self: start;
  @media only screen and (max-width: 1200px) {
    align-self: center;
    text-align: center;
  }
  @media only screen and (max-width: 700px) {
    max-width: 345px;
  }
}

.main-container-txt > h1 {
  color: #eb689f;
  font-family: Roboto Slab;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 60px;
  @media only screen and (max-width: 700px) {
    color: #eb689f;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
  }
}

.main-container-txt > p {
  color: #eb619b;
  font-family: Roboto Slab;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  @media only screen and (max-width: 700px) {
    color: #eb619b;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

footer {
  width: 100%;
  background: #fbd4ee;
}

.footer-container {
  position: relative;
  width: 100%;
  height: 168px;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 58.75%);
  @media only screen and (max-width: 700px) {
    height: 47px;
  }
}

.footer-container > h6 {
  padding-top: 101px;
  color: #eb689f;
  text-align: center;
  font-family: Roboto Slab;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  @media only screen and (max-width: 700px) {
    padding-top: 28px;
    color: #eb689f;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

.footer-container > a {
  position: absolute;
  top: -58px;
  @media only screen and (max-width: 700px) {
    top: -25px;
  }
}

.footer-container > a > div {
  width: 82px;
  height: 82px;
  background-image: url("../../img/up1.png");
  @media only screen and (max-width: 700px) {
    width: 40px;
    height: 40px;
    background-size: contain;
  }
}

.footer-container > a > div:hover {
  background-image: url("../../img/up2.png");
}
